:root{
   /*Color palette*/
   --Color-Blue-Lighten: #d9f0f2;
   --Color-Green-Lighten: #e9ffe9;
   --Color-Blue-Darken: #0a8bcc;
   --Color-Grey: #706f6f;
   --Color-Grey-Darken: #595655;
   --Color-White: #f3f3f3;
   --Color-Colgate: #d2010d;
}